body, html { 
  height: 100vh;
}
body {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: 6.18vh 6.18vw;
  font-size: 17px;
  color: #494949;
}
.about {
  margin-bottom: 38.2vh;
}